<div class="email">
  <form action="//polynomicsgame.us11.list-manage.com/subscribe/post?u=4291f5711fc13321347329e1d&amp;id=f15d423110" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <input type="email" value="" placeholder="Get email updates..." name="EMAIL" class="required email" id="mce-EMAIL"></input>

   <div style="position: absolute; left: -5000px;"><input type="text" name="b_e1aea01ee11b2b51dfa31fe50_48740b100a" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></input></div>

    <div style="padding:20px 20px 10px 20px;background:#fff;"id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
  </form>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
</div>
