<ul class="social">
  <li><a href="http://www.reddit.com/r/polynomics">Reddit</a></li>
  <li><a href="http://www.twitter.com/PolynomicsGame">Twitter</a></li>
  <li><a href="http://www.indiedb.com/games/polynomics">IndieDB</a></li>
</ul>

{% include email_signup.html %}

<ul class="footer">
  <li>Polynomics, LLC</li>
  <li><a href="mailto:contact@polynomicsgame.com">Contact</a></li>
  <li><a href="/press.html">Press</a></li>
  <li><a href="/tos.html">Terms of Service</a></li>
  <li><a href="/pp.html">Privacy Policy</a></li>
</div>
