<html>
  <head>
    <title>Polynomics</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>

  <body
    onresize="vid=document.getElementById('ytembed');if(vid) vid.style.height=vid.clientWidth / 16 * 9 + 'px'"
    onload="vid=document.getElementById('ytembed');if(vid) vid.style.height=vid.clientWidth / 16 * 9 + 'px'">

    {% if page.cover-image %}
      <div class="cover-image">
        <img src="{{ page.cover-image | asset_path }}" />
      </div>

      {% include absolute_header.html %}
    {% else %}
      {% include header.html %}
    {% endif %}

    {{ content }}

    {% include footer.html %}
    {% include analytics.html %}
  </body>
</html>

