---
layout: main
---

<div class="post">
  <div class="cover-wrapper">
    <h2 class="title">
      {{ page.title }}
    </h2>

    <div class="date">
      {{ page.date | date_to_string }}
    </div>
  </div>

  <div class="content-wrapper">
    <div class="content">
      {{ page.content | markdownify }}
    </div>

    <div id='discourse-comments'></div>
  </div>

  <script type="text/javascript">
    DiscourseEmbed = { discourseUrl: '{{site.discourse_url}}',
                       discourseEmbedUrl: '{{site.url}}{{page.url}}' };

    (function() {
      var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
      d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
    })();
  </script>
</div>

